<div class="container">
<h1>質問を選択してください</h1>

  <%= form_with model: @training, url: trainings_path, local: true do |f| %>
    <% @questions.each do |question| %>
 
        <div class="align-middle">
          <%= f.radio_button :question_id, question.id %>
          <%= f.label :queston_id, question.title, value: question.id %>
          <%= f.hidden_field :title, value: question.title %>
        </div>
 
    <% end %>
    <%= f.submit '録音スタート', class:'btn btn-primary' %>
  <% end %>

</div>