<% content_for(:title, t('.title')) %>
<div class="container">
<h2 class = "text-center mt-5 mb-4">質問を選択してください</h2>
  <%= form_with model: @training, url: trainings_path, local: true do |f| %>
    <div class="table-container">
      <ul class="list-group">
        <li class = "list-header font">質問リスト</li>
        <% @questions.each do |question| %>
          <li class="list-group-item font">
            <%= f.radio_button :question_id, question.id, id: "training_question_#{question.id}", class: "radio" %>
            <%= f.label :question, question.title, value: question.id %>
            <%= f.radio_button :title, question.title, class: "d-none", id: "training_question_#{question.id}_title"%>
          </li>
        <% end %>
      </ul>
      <div class="text-center">
        <%= f.submit '次へ',id: 'next', class: 'btn btn-lg bg text-white w-25 mt-5', disabled: true %>
      </div>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag 'training' %>