<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="training-container">
      <h3 class="mb-5 mt-5"><%= @training.created_at.strftime('%Y/%m/%d')  %> <%= @question.title %></h3>
        <% if @training.voices.present? %>
          <% @voices.each do |voice| %>
            <div class = "align-items-center row border-bottom">
              <div class = "col-md-3 text-center"><%= voice.phase_i18n %></div>
              <div class = "col-md-9 text-center"><%= audio_tag(voice.voice_data, controls: true) %></div>
            </div>
          <% end %>
          <% if @memos.present? %>
            <div class="memo">
              <div class="memo-items">
                <div class = "font-weight-bold font">メモ</div>
                <%= link_to "編集", edit_training_memo_path(@training, @memos), class: "btn bg" %>
              </div>
                <div class = "memo-body"><%= simple_format(@memos.body) %></div>
            </div>
          <% else %>
          <div class="memo">
            <div class="memo-items">
              <div class = "font-weight-bold font">メモ</div>
            </div>
            <%= form_with model: @memo, url: training_memos_path(@training), id: 'new_memo', local: true  do |f| %>
              <%= f.text_area :body, class: 'form-control mb-3', id: 'js-new-comment-body', row: 4, placeholder: '反省点などのメモ' %>
              <%= f.hidden_field :training_id, value: @training.id %>
              <%= f.submit t('defaults.save'), class: 'btn bg' %>
            <% end %>
          </div>
        <% end %>
        <% else %>
          <div class = "yet">まだ練習していません  
            <%= link_to "練習する", new_training_voice_path(@training) %>
          </div>
        <% end %>
    </div>
  </div>
</div>
