<% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h3 class="mb-5 mt-5"><%= @training.created_at.strftime('%Y/%m/%d')  %> <%= @question.title %></h3>
      <div class="accordion-content">
        <% if @training.voices.present? %>
          <% @voices.each do |voice| %>
          <div class = "align-items-center row border-bottom">
            <div class = "col-md-3 text-center"><%= voice.phase_i18n %></div>
            <div class = "col-md-9 text-center"><%= audio_tag(voice.voice_data, controls: true) %></div>
          </div>
          <% end %>
        <% else %>
          <div class = "yet">まだ練習していません  
            <%= link_to "練習する", new_training_voice_path(@training) %>
          </div>
        <% end %>
          <div class = "#">メモ</div>
          <div class = "#"><%= simple_format(@memos.body) if @memos.present? %></div>
      </div>
      <div class="w-100">
        <%= form_with model: @memo, url: training_memos_path(@training), local: true do |f| %>
          <%= f.text_area :body, class: 'form-control mb-3', id: 'js-new-comment-body', row: 4, placeholder: '反省点などのメモ' %>
          <%= f.submit t('defaults.post'), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
