<% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="mb-5 mt-5"><%= @training.created_at %><%= @question.title %></h1>
      <div class="accordion-content">
        <% if @training.voices.present? %>
          <% @voices.each do |voice| %>
          <div class = "align-items-center row">
            <div class = "text-center col-md-4"><%= voice.phase_i18n %></div>
            <div class = "text-center col-md-8"><%= audio_tag(voice.voice_data, controls: true) %></div>
          </div>
          <% end %>
        <% else %>
          <div class = "yet">まだ練習していません  
            <%= link_to "練習する", new_voice_path(@training) %>
          </div>
        <% end %>
      </div>
      <%= link_to t('defaults.edit'), edit_profile_path, class: 'btn btn-lg bg text-white mt-3' %>
    </div>
  </div>
</div>
