<% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h3 class="mb-5 mt-5"><%= @training.created_at.strftime('%Y/%m/%d')  %> <%= @question.title %></h3>
      <div class="accordion-content">
        <% if @training.voices.present? %>
          <% @voices.each do |voice| %>
          <div class = "align-items-center row border-bottom">
            <div class = "col-md-2 text-right"><%= voice.phase_i18n %></div>
            <div class = "col-md-10"><%= audio_tag(voice.voice_data, controls: true) %></div>
          </div>
          <% end %>
        <% else %>
          <div class = "yet">まだ練習していません  
            <%= link_to "練習する", new_training_voice_path(@training) %>
          </div>
        <% end %>
        <div class="row">
          <div class = "col-md-2 text-right">メモ</div>
          <div class = "col-md-10"><%= simple_format(@memos.body) %></div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-8 offset-lg-2">
          <%= form_with model: @memo, url: training_memos_path(@training), local: true do |f| %>
            <%= f.label :body %>
            <%= f.text_area :body, class: 'form-control mb-3', id: 'js-new-comment-body', row: 4, placeholder: Memo.human_attribute_name(:body) %>
            <%= f.submit t('defaults.post'), class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
