<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h2 class = "mt-5 mb-4">面接シーン登録</h2>
      <%= form_with model: @user, url: user_category_path, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
        <div class="form-group">
        <%= f.label '面接シーンを選択してください', class: 'font-weight-bold' %>
          <% @category.each do |category| %>
            <div class="custom-radio">
              <%= f.radio_button  :category_id, category.id %>
              <%= f.label :category_id, category.name, value: category.id %>
            </div>
          <% end %>
        </div>
        <%= f.submit '登録する', class: 'btn btn-lg bg text-white w-100 mt-3' %>
      <% end %>
    </div>
  </div>
</div>