<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1>質問登録</h1>
      <%= form_with model: @question, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
        <div class="form-group">
          <%= f.label :category_id %>
          <%= f.number_field :category_id, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :question_voice_data %>
          <%= f.file_field :question_voice_data, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :question_voice_data_seconds %>
          <%= f.number_field :question_voice_data_seconds, class: 'form-control' %>
        </div>
        <%= f.submit '登録', class: 'btn btn-primary' %>
      <% end %>
      <div class='text-center'>
        <%= link_to 'ログインページへ', login_path %>
      </div>
    </div>
  </div>
</div>