<div class="container">
<h1>質問リスト</h1>
<table class = "table">
  <thead class = "thead-dark">
    <tr>
      <th>category_id</th>
      <th>title</th>
      <th>question_voice_data</th>
      <th>編集ボタン</th>
    </tr>
  </thead>
  <% @question.each do |question| %>
  <tr>
    <td class="align-middle"><%= question.category_id %></td>
    <td class="align-middle"><%= question.title %></td>
    <td class="align-middle"><%=audio_tag("#{question.question_voice_data.url}", controls: true) %></td>
    <td class="align-middle"><%= link_to "編集", edit_question_path(question), class: "btn btn-primary" %></td>
  </tr>
  <% end %>
</table>
<%= link_to "新規登録", new_question_path, class: "btn btn-primary" %>
<%= link_to "トップページへ", root_path, class: "btn btn-success" %>
</div>

