<div class="container">
<h2 class = "text-center mt-5 mb-4">行をクリックして、練習内容を振り返りましょう</h2>
  <div id="accordion" class="accordion-container">
    <div class = "list-header">質問タイトル：<%= @question.title %></div>
  <% @trainings.each_with_index do |training, i| %>
    <li class="accordion-title js-accordion-title d-flex font">
      <span class = "date"><%= training.created_at.strftime('%Y/%m/%d') %></span>
      <span class = "list-line"><%= i+1 %>回目の練習</span>
    </li>
    <div class="accordion-content">
      <% if training.voices.present? %>
        <% training.voices.each do |voice| %>
        <div class = "align-items-center row">
          <div class = "text-center col-md-4"><%= voice.phase_i18n %></div>
          <div class = "text-center col-md-8"><%= audio_tag(voice.voice_data, controls: true) %></div>
        </div>
        <% end %>
      <% else %>
        <p>まだ練習していません</p>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
<script>
$(function () {
  // タイトルをクリックすると
  $(".js-accordion-title").on("click", function () {
    $(this).next().slideToggle(300);
    $(this).toggleClass("open", 300);
  });
});
</script>