<div class="container">
<h2 class = "text-center mt-5 mb-4"><%= @question.title %></h2>
<table class = "table">
  <thead class = "thead-dark">
    <tr>
      <th>日付</th>
      <th>タイトル</th>
    </tr>
  </thead>
<% @question.trainings.each_with_index do |training, i| %>
  <% if training.user_id == current_user.id %>
    <tr data-toggle="collapse" data-target="#trainingList<%= i + 1%>">
      <td class="align-middle font"><%= training.created_at.strftime('%Y/%m/%d') %></td>
      <td class="align-middle font"><%= "#{training.title}##{i+1}" %></td>
    </tr>
    <tr>
      <td colspan="2" class="p-0">
        <div id="trainingList<%= i + 1%>" class="collapse">
          <div class="px-4 py-2">
            <% if training.voices.present? %>
              <% training.voices.each do |voice| %>
              <div class = "align-items-center d-flex">
                <div><%= voice.phase %></div>
                <div><%= audio_tag(voice.voice_data,controls: true) %></div>
              </div>
              <% end %>
            <% else %>
              <p>まだ練習していません</p>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
<% end %>
</table>
</div>