<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="user-wrapper">
  <h2 class = "mt-5 mb-5 font-weight-bold">ユーザー登録</h2>
    <h3>SNSアカウントで登録</h3>
    <div class="sns-form">
      <%= link_to auth_at_provider_path(provider: :twitter), class: "twitter" do %>
        <i class="fa-brands fa-twitter"></i>
        Twitterアカウントで登録
      <% end %>
      <%= link_to auth_at_provider_path(provider: :google), class: "google" do %>
        <div class="google-img">
          <%= image_tag "google.png", class: "img-fluid"  %>
        </div>
        Googleアカウントで登録
      <% end %>
    </div>
    <div class="email-form">
    <h3>またはメールアドレスで登録</h3>
      <%= form_with model: @user, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
        <div class="form-group">
          <%= f.label :email, class: 'font-weight-bold' %>
          <%= f.email_field :email, placeholder: 'sample@exaple.com', class: 'form-control' %>
        </div>
        <div class="form-group">
        <%= f.label '面接シーンを選択してください', class: 'font-weight-bold radio-rabel' %>
          <% @category.each do |category| %>
            <div class="custom-radio">
              <%= f.radio_button  :category_id, category.id %>
              <%= f.label :category_id, category.name, value: category.id %>
            </div>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :password, class: 'font-weight-bold' %>
          <%= f.password_field :password, placeholder: 'password', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, class: 'font-weight-bold' %>
          <%= f.password_field :password_confirmation, placeholder: 'password', class: 'form-control' %>
        </div>
        <%= f.submit '登録する', class: 'btn btn-lg bg text-white w-100 mt-3' %>
      <% end %>
    </div>
  </div>
</div>