<header id = "header">
  <div class="container">
    <div class="header_left">
      <%= link_to root_path do %>
        <%= image_tag "logo.png" %>
      <% end %>
    </div>
    <div class="header_right">
      <%= link_to new_user_path, class: "sign-up", data: { 'turbolinks': false } do %>
      新規登録
      <i class="fa-solid fa-angle-right"></i>
      <% end %>
      <%= link_to login_path, class: "sign-in" do %>
      ログイン
      <i class="fa-solid fa-angle-right"></i>
      <% end %>
      <%= link_to login_path, class: "sign-in-img" do %>
        <%= image_tag "login.png", class: "img-fluid" %>
      <% end %>
    </div>
  </div>
</header> 