<header>
  <div class="container">
    <div class="header_left">
      <%= link_to root_path do %>
        <%= image_tag "logo.png" %>
      <% end %>
    </div>
    <div class="dropdown">
      <a class="dropdown-toggle ml-4" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        練習する
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <%= link_to "新卒", new_graduate_trainings_path, class: "dropdown-item" %>
        <%= link_to "転職", job_change_trainings_path, class: "dropdown-item" %>
        <%= link_to "エンジニア就職", engineer_trainings_path, class: "dropdown-item" %>
      </div>
    </div>
    <div class="dropdown">
      <a class="dropdown-toggle ml-4" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        振り返る
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <%= link_to "新卒", category_path(1), class: "dropdown-item" %>
        <%= link_to "転職", category_path(2), class: "dropdown-item" %>
        <%= link_to "エンジニア就職", category_path(3), class: "dropdown-item" %>
      </div>
    </div>
    <div class="header_right">
    </div>

      <%= link_to 'ログアウト', logout_path, method: :delete %>
    </div>
  </div>
</header> 