<header>
  <div class="container">
    <div class="header_left">
      <%= link_to root_path do %>
        <%= image_tag "logo" %>
      <% end %>
    </div>
    <div class="ml-5">
      <% if current_user.category_id == 1 %>
        <%= link_to "練習する", new_graduate_trainings_path %>
      <% elsif current_user.category_id == 2 %>
        <%= link_to "練習する", job_change_trainings_path %>
      <% else %>
        <%= link_to "練習する", engineer_trainings_path %>
      <% end %>
    </div>
    <div class="ml-4">
      <% if current_user.category_id == 1 %>
        <%= link_to "振り返る", category_path(1) %>
      <% elsif current_user.category_id == 2 %>
        <%= link_to "振り返る", category_path(2) %>
      <% else %>
        <%= link_to "振り返る", category_path(3) %>
      <% end %>
    </div>
    <div class="header_right">
      <%= link_to 'ログアウト', logout_path, method: :delete %>
    </div>
    </div>
  </div>
</header> 