<div class="container">
<h1>カテゴリー</h1>
<table class = "table">
  <thead class = "thead-dark">
    <tr>
      <th>id</th>
      <th>title</th>
      <th>編集ボタン</th>
    </tr>
  </thead>
  <% @category.each do |category| %>
  <tr>
    <td class="align-middle"><%= category.id %></td>
    <td class="align-middle"><%= category.name %></td>
    <td class="align-middle"><%= link_to "編集", edit_category_path(category), class: "btn btn-primary" %></td>
  </tr>
</table>
  <% end %>
<%= link_to "新規登録", new_question_path, class: "btn btn-primary" %>
<%= link_to "トップページへ", root_path, class: "btn btn-success" %>
</div>